[user]
	name = Stian Eikeland
	email = stian@eikeland.se
[github]
	user = stianeikeland
	token = !security 2>&1 >/dev/null find-generic-password -gs github.token | ruby -e 'print $1 if STDIN.gets =~ /^password: \\\"(.*)\\\"$/'
	password = !security 2>&1 >/dev/null find-generic-password -gs github.password | ruby -e 'print $1 if STDIN.gets =~ /^password: \\\"(.*)\\\"$/'
[alias]
	co = checkout
	l = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
	ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	loll = log --graph --decorate --pretty=oneline --abbrev-commit
	lol = !git --no-pager loll
	lolal = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lola = !git --no-pager lolal
	# Commit all changes
	ca = commit -a
	# Status
	s = status -s
	# Clone a repository including all submodules
	c = clone --recursive
	# Diff
	d = diff

	noff = merge --no-ff
	word-diff = diff --word-diff

	# Merging shortcuts:
	ours   = "!f() { git checkout --ours $@ && git add $@; }; f"
	theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"

	# Forget that a file was changed (avoid checking in config / passwords /etc)
	assume = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed = "!git ls-files -v | grep ^h | cut -c 3-"

	# Legit stuff (from brew):
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"

[color]
	branch = auto
	diff = auto
	status = auto
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[diff]
	patience = true

[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true

[core]
	autocrlf = false
	editor = subl -n -w
[push]
	default = upstream
